body, html {
	font-family: Arial , sans-serif;
	background : url('../images/blue_background.jpg');
	/*background : url('../images/dark_tile.jpg');*/
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}
h1 , p {
	color: white;
}

canvas {
	position: absolute;
}
#save_btn, #reset_btn {
	position: absolute;
}

#main-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: url('../images/dark_tile.jpg');

	/*border: solid white 3px;*/
	
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	background : url('../images/blue_tile.jpg');
}

.centerwrap {
	width: 541px;
	margin-right: -270px;
	right: 50%;
	height: 90%;
	position: absolute;
}

#glare {
	width: 100%;
	height: 100%;
	background: url('../images/glare.png') no-repeat;
	/*background: red;*/
	background-position: center -60px;
	position: absolute;
}

/*#retro-virus-title {
	position: absolute;
	top: 30%;
	left: 2%;
}

#begin-experiment {
	position: absolute;
	top: 55%;
	left: 10%;
	box-shadow: 0px 0px 12px #333;
}
*/
.titewrap {
	width: 390px;
	height: 70%;
	position: absolute;
	top: 20%;
	left: 6%;
}
#retro-virus-title, #begin-experiment {
	display: block;
	margin: 20px auto;
}
#nano-blurry {
	position: absolute;
	/*bottom: -40%;
	right: -14%;*/
	margin-top: -575px;
	top: 50%;
	right: 0;
	margin-right: -100px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
}

#share-popup, #rvi-popup, #msi-popup{
	
	visibility: hidden;
	box-shadow: 0px 0px 12px #333;
}
#diagram , #share-popup, #jobs-cta {
	opacity: 0;
	position: absolute;
	visibility: hidden;
}
#rvi-popup , #msi-popup{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 82%;
	border: solid white 5px;
	background-image: url('../images/blue_tile.jpg');
	overflow: hidden;
}
.msgwrap {
	width: 80%;
	position: absolute;
	top: 2%;
	left: 10%;
}
#avoid-title, #msi-title {
	/*top: -23px;
	width: 100%;*/
	display: block;
	position: static;
	font-size: 44pt;
	color: white;
	text-align: center;
	margin: 1px;
}
#avoid-message , #msi-message{
	/*display: block;
	width: 100%;
	top: 10%; */
	margin: 1px;
	display: block;
	position: static;
	font-size: 22pt;
	color: white;
	text-align: center;
}
#avoid-graphic , #msi-graphic {
	/*position: absolute;
	top: 20%;
	text-align: center;
	width: 74%;
	color: white;*/
}
#avoid-graphic, #msi-graphic {
	display: block;
	position: absolute;
	margin-top: -144px;
	margin-left: -194px;
	top: 50%;
	left: 50%;
}

#readytogo , #getfreaky{
	/*position: absolute;*/
	/*display: block;*/
	/*width: 261px;center
	height: 101px;*/
	box-shadow: 0px 0px 12px #333;
	/*bottom: 4%;*/
	/*left: 24%;*/
}
#readytogo img, #getfreaky img {
	/*background: url('../images/ready_btn.jpg');*/
	display: block;
	position: absolute;
	width: 261px;
	height: 101px;
	margin-left: -130px;
	left: 50%;
	bottom: 2%;
}

/* titles and messages */
.supertitle {
	
	color: #fff; font-size: 46pt; margin-top: 2%; margin-bottom: 2px; padding-bottom: 0;
}
.uppermessage {

	font-size: 14pt; margin-top: 2px; padding-top: 0px; color: white;
}
/* END SCREEN */
/* END SCREEN */
/* END SCREEN */
.short-button {
	text-align: center;
	background-position: center top;
	height: 129px;
	width: 197px;
}
/*#end-title ,#success-title, #ms-success-title{ color: #fff; font-size: 46pt; margin-top: 2px; margin-bottom: 2px; padding-bottom: 0;}*/
/*#top-message , #success-message { margin-top: 2px; padding-top: 0px;}*/

#share-title { position: absolute; top: 74%; color: #00566e; font-size: 46pt; width: 300px; left: 12%;}

#bottom-message { position: absolute; top: 652px; left: 40px;}
#playagain { margin-right: 32px; box-shadow: 0px 0px 12px #333; width: 49%;}
#share { box-shadow: 0px 0px 12px #333; width: 49%;}
.endbuttonwrap {
	bottom: 4%;
	/height: 121px;*/
}
/* SUCCESS SCREEN */
/* SUCCESS SCREEN */
/* SUCCESS SCREEN */
/* SUCCESS SCREEN */
/* SUCCESS SCREEN */
/*#triumph { width: 530px; display: block; margin:0 auto; }*/
#triumph{position: absolute;width: 530px; margin-left: -265px; height: 410px; margin-top: -205px; top: 50%; left: 50%; }
#gotomultichoice { width: 353px; margin-left: -176px; left: 50%; position: absolute; bottom: 2%;}
.scstitle { position: absolute; width: 600px; margin-left: -300px; left: 50%; top: 4%;}
/*#gotomultichoice , #getfreaky{ width: 353px; display: block; }*/
.multibtn { position: absolute; bottom: 1%;}

.triplebtns , .endbuttonwrap{
	position: absolute;
	width: 101%;
	bottom: 2%;
}

.triplebtns img {
	width: 32.8%;
}
/* MSI INSTRUCTIONS */
/* MSI INSTRUCTIONS */
/* MSI INSTRUCTIONS */
/* MSI INSTRUCTIONS */
#getfreaky { width: 283px; }
.freakybtn { bottom : 2%;}
/*** MUTATION ANALYSIS DIAGRAM ***/
/*** MUTATION ANALYSIS DIAGRAM ***/
/*** MUTATION ANALYSIS DIAGRAM ***/
/*** MUTATION ANALYSIS DIAGRAM ***/
/*** MUTATION ANALYSIS DIAGRAM ***/
#diagram {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 541px;
	height: 302px;
	margin-left: -270px;
	margin-top: -181px;
	background: url('../images/diagram_bg.jpg');
	box-shadow: 0px 0px 18px #333;
}
/*** GAME UI ***/
/*** GAME UI ***/
/*** GAME UI ***/
#mutation-text {
	position: absolute;
	color: #4e221c;
	top: 20px;
	left: 20px;
	font-size: 18pt;
	font-weight: bold;
	width: 309px;
	text-align: center;
	opacity: 0;

}
#empty-bar , #full-bar { position: absolute; width: 309px; height: 43px; overflow: hidden; top: 15px; left: 20px; opacity: 0; }
#empty-bar  { background: url('../images/empty_bar.png'); }
#full-bar { background: url('../images/mutant_bar.png'); }
#save_btn { position: absolute; bottom: 1%; right: 1%; visibility: hidden;} 
#reset_btn { position: absolute; bottom: 1%; left: 1%;  visibility: hidden; }
/* BOTTOM BAR */
/* BOTTOM BAR */
/* BOTTOM BAR */
/* BOTTOM BAR */
/* BOTTOM BAR */
#jobs-cta {
	width: 100%;
	position: absolute;
	height: 10%;
	background: #444;
	color: white;
	text-align: center;
	bottom: 0px;
}

#jobs-cta a {
	/*color: #C0Da2a;*/
	color: #2bd0e4;
	text-decoration: none;
	
}

#jobs-cta p {
	font-size: 18pt;
}

/* SHARE */
/* SHARE */
/* SHARE */
/* SHARE */
#share-inner {
	/*display: block;*/
	width: 580px;
	height: 235px;
	position: absolute;
	border: solid 6px white;
	margin-left: -290px;
	margin-top: -117px;
	top: 50%;
	left: 50%;
	background: url('../images/blue_tile.jpg');
	box-shadow: 0px 0px 300px #000;
}
#facebook-share {
	position: absolute;
	display: block;
	width: 254px;
	height: 116px;
	background: url('../images/facebook_btn.jpg');
	box-shadow: 0px 0px 12px #333;
	top: 60px;
	left: 300px;

}
#twitter-share {
	position: absolute;
	display: block;
	width: 253px;
	height: 115px;
	background: url('../images/twitter_btn.jpg');
	box-shadow: 0px 0px 12px #333;
	top: 60px;
	left: 20px;
}
.shade {
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: absolute;
}

#unstoppable-shade {
	background: #333;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: absolute;
}

#close-share {
	position: absolute;
	display: block;
	top: -38px;
	left: 500px;
	background: url('../images/share_x.png');
	width: 74px;
	height: 77px;
}

#loadscreen {
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
}
	#throbber {
		width: 112px;
		height: 60px;
		position: absolute;
		margin-top: -30px;
		margin-left: -56px;
		top: 50%;
		left: 50%;
	}

	#gotogame {
		position: absolute;
		width: 338px;
		height: 116px;
		margin-right: -169px;
		right: 50%;
		bottom: 2%;
	}
